@font-face {
    font-family: "nexa_lightregular";
    src: url("nexa_light-webfont.woff2") format("woff2"),
         url("nexa_light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: "nexa_lightregular";
}

body{
}

#logo{
    background-color: black;
    border-radius: 50%;
    width: 100px;
}