/*
    Variables definition
*/
:root {
  --xCircleRotation: 0.8;
  --yCircleRotation: 0;
  --zCircleRotation: 0.3;
}

/*
    Fonts definition
*/
@font-face {
    font-family: "nexa_lightregular";
    src: url("nexa_light-webfont.woff2") format("woff2"),
         url("nexa_light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*
    Animations definition
*/
@keyframes logoRotate {
    0% { transform: rotate3d(var(--xCircleRotation), var(--yCircleRotation), var(--zCircleRotation), 75deg); }
    50% { transform: rotate3d(var(--xCircleRotation), var(--yCircleRotation), var(--zCircleRotation), 110deg); }
    100% { transform: rotate3d(var(--xCircleRotation), var(--yCircleRotation), var(--zCircleRotation), 75deg); }
}

@keyframes slideBand {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-406px, 0); }
}

@keyframes moveLogo {
    0% { }
    100% { 
        top: 20%;
        right: 70%;
    }
}

@keyframes toBlockDisplay {
    0% { }
    100% { 
        display: block;
    }
}

@keyframes showMenuItem {
    0% { }
    100% { 
        width: 40%;
        margin-left: 35%;
    }
}

/*
    HTML components style
*/
body{
    background-image: url("space_background.jpg");
    background-size: cover;
    font-family: "nexa_lightregular";
    font-size: 20px;
    text-align: justify;
    color: #000000c0;
}

#siteWrapper{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
}

#header{
    grid-column: 1/5;
    grid-row: 1;
}

#logoWrapper{
    position: absolute;
    top: 10px;
    right: 35px;
}

#logo{
    width: 100px;
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: 50%;
    background-color: #ff6a6a;
    box-shadow: inset red -20px -20px 70px;
}

#logo img{
    width: 80%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;
}

#logoRing{
    margin-top: -100px;
    margin-left: -30px;
    width: 150px;
    height: 100px;
    border: solid 10px #ffbb00;
    border-top-color: transparent;
    border-radius: 50%;
    transform: rotate3d(var(--xCircleRotation), var(--yCircleRotation), var(--zCircleRotation), 75deg);
    box-sizing: border-box;
    animation: 3s logoRotate;
    animation-iteration-count: infinite;
  }

#content{
    grid-column: 1/5;
    grid-row: 2;
    min-height: 300px;
    width: 100%;
}

#menuWrapper{
    visibility: hidden;
    margin-top: 5%;
}

.menuItem{
    top: 20%;
    right: 70%;
    margin-top: 2%;
    width: 0px;
    margin-left: 25%;
    background: #101010;
    border: 2px solid #999;
    padding: 40px;
    font-size: 30;
    color: #ffffffdc;
    border-radius: 10px;
    overflow: hidden;
}

.menu{
    display: block;
}

.menu .menuItem{
    animation: showMenuItem 3s ease-in-out;
    animation-fill-mode:forwards;
}

.panel{
    width: 60%;
    margin: auto;
    background-color: #ff9100;
    border-radius: 10px 0 10px 0;   
    box-shadow: -5px 0px 1px #4451ff;
}

#content .panel{
    padding: 40px;
}

#footer{
    position: fixed;
    bottom: 0px;
    background-color: #ff9100f6;
    padding-bottom: 15px;
}

#footerContent{
    height: 30px;
    width: 200%;
}

.icon{
    width: 20px;
    margin-top: 10px;
}

.slideText{
    display: block;
    padding-bottom: 10px;
    animation: slideBand 10s linear infinite;
}

.slideText span{
    width: 400px;
    display: inline-block;
    transition: all .2s ease-out;
}

/* 
    Animations based on logo click action
*/
.moveLogo{
    animation: moveLogo 5s ease-in-out;
    animation-fill-mode:forwards;
}