@font-face {
    font-family: "nexa_lightregular";
    src: url("nexa_light-webfont.woff2") format("woff2"),
         url("nexa_light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@keyframes logoRotate {
    0% { transform: rotate3d(0.8, 0.2, 0, 75deg); }
    50% { transform: rotate3d(0.8, 0.2, 0, 110deg); }
    100% { transform: rotate3d(0.8, 0.2, 0, 75deg); }
}

@keyframes slideBand {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-50%, 0); }
}

body{
    background-image: url("stars.jpg");
    font-family: "nexa_lightregular";
    font-size: 20px;
    text-align: justify;
    color: #000000c0;
}

#siteWrapper{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
}

#header{
    grid-column: 1/5;
    grid-row: 1;
}

#logo{
    position: absolute;
    top: 10px;
    right: 35px;
    width: 100px;
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: 50%;
    background-color: #ff6a6a;
    box-shadow: inset red -20px -20px 70px;
}

#logo img{
    width: 80%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;
}

#logoRing{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 100px;
    border: solid 10px #ffbb00;
    border-radius: 50%;
    transform: rotate3d(0.8, 0.2, 0, 75deg);
    box-sizing: border-box;
    animation: 3s logoRotate;
    animation-iteration-count: infinite;
  }

#content{
    grid-column: 1/5;
    grid-row: 2;
    min-height: 300px;
    width: 100%;
}

.panel{
    width: 60%;
    margin: auto;
    background-color: #ff9100;
    border-radius: 10px 0 10px 0;   
    box-shadow: -5px 0px 1px #4451ff;
}

#content .panel{
    padding: 40px;
}

#footer{
    position: fixed;
    bottom: 0px;
    background-color: #ff9100f6;
    padding-bottom: 15px;
}

#footerContent{
    height: 30px;
}

.icon{
    width: 20px;
    margin-top: 10px;
}

.slideText{
    display: block;
    padding-bottom: 10px;
    animation: slideBand 20s linear infinite;
}

.slideText span{
    display: inline-block;
    transition: all .2s ease-out;
}